.registerPage {
    background: 
        url('../img/loginBlur.png') no-repeat center top/cover,
        linear-gradient(to bottom, transparent 80%, #f0f0f0 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
  
  .registerContent {
    color: #fff;
    max-width: 600px;
    width: 100%;
  }
  
  .registerTitle {
    font-family: 'Manrope-Bold', sans-serif;
    font-size: 58px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 5)
  }
  
  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .registerPage .formGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .registerPage .formLabel {
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 18px;
    margin-right: 10px;
    flex: 0 0 200px;
  }
  
  .registerPage .formInput {
    width: 373px;
    height: 40px;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .formInput:focus {
    border-color: #FEE174;
  }
  
  .registerPage .submitButton {
    display: block;
    text-align: center;
    /* margin: 40px auto 50px; */
    margin: auto;
    width: 317px;
    height: 53px;
    line-height: 53px;
    background-color: #FEE174;
    border: none;
    border-radius: 20px;
    font-family: 'Manrope-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #e5cc62;
  }
  
  .registerPage .loginPrompt {
    text-align: center;
    margin-top: 20px;
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 16px;
  }
  
  .registerPage .loginLink {
    color: #FEE174;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
  }
  
  .registerPage .loginLink:hover {
    color: #e5cc62;
  }
  
  .inputWithIcon {
    display: flex;
    align-items: center; /* Выравниваем по центру по вертикали */
    gap: 10px; /* Небольшой отступ между инпутом и иконкой */
  }
  
  .mapIcon {
    width: 40px;  /* Ширина блока */
    height: 40px; /* Высота блока */
    background-image: url('../img/map.svg');  /* Фоновое изображение */
    background-size: cover;  /* Масштабируем картинку по размеру блока */
    background-position: center;  /* Центрируем картинку */
    cursor: pointer;  /* Курсор при наведении */
    transition: background-image 0.3s ease;  /* Плавный переход при смене картинки */
  }
  
  /* Эффект при наведении */
  .mapIcon:hover {
    background-image: url('../img/mapY.svg');  /* Картинка, которая появляется при наведении */
  }

  /* Для кнопки с картой */
.mapButton {
  background-size: cover;
  width: 40px; /* ширина */
  height: 40px; /* высота */
  border: none;
  cursor: pointer;
  background-color: #00000000;
}


.mapModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapClose {
  position: absolute;
  top: 150px;
  right: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.mapContainer {
  width: 90%;
  max-width: 800px; /* Максимальная ширина карты */
  height: 500px; /* Увеличенная высота карты */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
  .photoPreviewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 8px;
}

.photoPreview {
  height: 96px; /* 6rem */
  width: 128px; /* 8rem */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}